{% extends "process/base.html" %}
{% load static from staticfiles %}
{% block title %}主页{% endblock %}
{% block head %}
{% ifequal is_group 1 %}
    <script type="text/javascript" src="{% static "js/dadui_data.js" %}"></script>
{% else %}
    <script type="text/javascript" src="{% static "js/data.js" %}"></script>
{% endifequal %}
    <script>

        var gradient = new gradientColor('#00FF00','#FF0000',300);
        var district_ids = new Array();
        {% for district_id in district_ids %}
            district_ids.push({{ district_id }});
        {% endfor %}

        var region_colors = new Array();
        function get_region_color(region_id)
        {
            return region_colors[region_id];
        }
        var region_labels = new Array();
        function get_region_label(region_id)
        {
            return region_labels[region_id];
        }
        var dt_list = new Array();
        {% for dt in dt_list %}
            dt_list.push("{{ dt }}");
        {% endfor %}

        function get_dt(idx)
        {
            return dt_list[idx];
        }
        function query_datetime()
        {
            var dt_now = $("#datetimepicker").val();
            $.ajaxSetup({
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            });

            $.ajax({
                type: "POST",
                url: "{% url 'process:query_status' %}?query_dt="+dt_now,
                success: function (result) {
                    if (result["code"] == 0) {
                        for(i=0;i<district_ids.length;i++)
                        {
                            var district_id = district_ids[i];
                            region_labels[district_id] = result["r_"+district_id];
                            region_colors[district_id] = result[district_id];
                        }
                        redraw_polygons();
                }
                else {
                    alert(result.message);
                }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.table([{
                        "错误类型": jqXHR,
                        "错误信息": textStatus,
                        "http状态": errorThrown
                    }])
                }
            });
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">

        <div class="form-inline" role="form">
        <div class="form-group">
            <label for="dt_query" >时间:</label>
            <input type="text" class="form-control form-date input-sm" value="2017-02-1 1:00:00" style="width: 180px;"  id="datetimepicker" data-date-format="yyyy-mm-dd hh:ii:ss">
            <button class="btn btn-primary" onclick="query_datetime()">查询</button>
            <div id="slider3"></div>
        </div>&nbsp;
        </div>
    </div>
	<div id="allmap">

    </div>
{% endblock %}
{% block endscript %}
<script type="text/javascript">

	// 百度地图API功能
	var map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 12);     // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom();                        //启用滚轮放大缩小
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});  //左上角，添加默认缩放平移控件
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);
    map.enableKeyboard();


    function redraw_polygons()
    {
        map.clearOverlays();

        for (var region_id in data ){


            for (var i = 0; i < data[region_id].length; i++) {
                var points = [];  // 添加海量点数据
                for (var j = 0; j < data[region_id][i].length; j++) {
                    points.push(new BMap.Point(data[region_id][i][j][0], data[region_id][i][j][1]));
                }

                var geo_center_point = new BMap.Point(geocenter[region_id][i][0], geocenter[region_id][i][1]);
                var marker = new BMap.Marker(geo_center_point);  // 创建标注
                map.addOverlay(marker);              // 将标注添加到地图中

                var label = new BMap.Label(get_region_label(region_id), {
                    position: geo_center_point,
                    offset: new BMap.Size(20, -10)
                });

                label.setStyle({
                    color: "white",
                    fontSize: "12px",
                    border: "0",
                    backgroundColor: "0.0"
                });

                marker.setLabel(label);
                var polygon = new BMap.Polygon(points, {
                    strokeColor: "#FFFFFF",
                    fillColor: gradient[get_region_color(region_id)],
                    strokeWeight: 1,
                    strokeOpacity: 0.5
                });  // 初始化PointCollection
                map.addOverlay(polygon);
            }
        }
    }
    var $slider3 = $("#slider3");

    if ($slider3.length > 0) {
      $slider3.slider({
        min: 0,
        max: {{ slider_cnts }},
        values: 0,
        orientation: "horizontal",
        range: "min",
        slide: function(event, ui) {
          $("#datetimepicker")
            .val(get_dt(ui.value));
        }
      });
    }
    $('#datetimepicker').datetimepicker({
        language:'zh-CN',
        autoclose:1,
        minuteStep:10});
</script>
{% endblock %}
