{% extends "process/base.html" %}
{% load static from staticfiles %}
{% block title %}训练页面{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/jquery-confirm.min.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery-confirm.min.js" %}" charset="UTF-8"></script>
    <script type="text/javascript">
    function flash(text,time)
    {
        $("#loading_text").html(text);
        $("#loading_div2").css('display','block');
        if(time!=0)setTimeout(function(){
            $("#loading_div2").css('display','none');
        },time);
    }
    </script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id="toolbar">
           <div class="form-inline" role="form">
            <form class="form-inline"  action="{% url 'process:train' %}" method="POST">
               <div class="form-group">
                    <label for="train_region" class="control-label"><small>训练区域:</small></label>
                    <select id="region_select" class="form-control input-sm" name="train_region" style="width:60px;">
                        <option value="0" selected="selected">全部</option>
                          {% for k,v in regions.items %}
                            <option value="{{ v }}">{{ k }}</option>
                          {% endfor %}
                    </select>
               </div>&nbsp;
               <div class="form-group">
                    <label for="week_agg" class="control-label"><small>星期聚合:</small></label>
                    <select id="region_select" class="form-control input-sm" name="week_agg" style="width:60px;">
                          {% for k,v in week_agg.items %}
                              {% ifequal forloop.counter0 0 %}
                                  <option value="{{ v }}" selected="selected">{{ k }}</option>
                              {% else %}
                                   <option value="{{ v }}">{{ k }}</option>
                              {% endifequal %}

                          {% endfor %}
                    </select>
               </div>&nbsp;
               <div class="form-group">
                    <label for="date_start" ><small>时间:</small></label>
                    <input class="form-control form-date input-sm" type="text" name="date_start" style="width: 80px;" data-date-format="yyyy-mm-dd" value="2017-02-01" >—
                    <input class="form-control form-date input-sm"  type="text" name="date_end" style="width: 80px;"  data-date-format="yyyy-mm-dd" value="2017-02-28" >
               </div>&nbsp;
            <div class="form-group">
                <input type="submit" class="btn btn-default btn-sm" value="训练"/>
                {% csrf_token %}
            </div>&nbsp;
                </form>
           </div>
    </div>
  </div>
</div>
{% endblock %}
